//colores
$violeta: #572EE5;
$violeta-op: #572ee5e6;
$violeta-op2:#572ee599;
$turquesa: #50E3C2;
$gris-claro: #F3F5F8;
$gris-medio: #9CAFC3;
$gris-oscuro:#37383C;
$gris-trending-oscuro: #222326;
$negro: #000000;
$blanco: #ffffff;
$blanco-op: #ffffffb3;
$blanco-modal:#ffffffe6;
$negro-modal:#37383cea;

//tipografias
$montse: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;


  